<!DOCTYPE html>
<html>
    <head>
        <title>Expenditure Calculator</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">

    </head>
    <body>
        <div class="container"><br><br>
        <h1> <b>Expenditure Calculator </b></h1>
        <form action="/additem" method="POST">
            <input type="text" name="name" placeholder="Name of the Item"><br>
            <input type="text" name="cost" placeholder="Cost"><br>
            <input type="submit" name="calculate" value="calculate">
          <br>  <br><h2> Added Items </h2>
            <% let sum = 0; 
            for( var i = 0; i< costs.length; i++){ 
                sum = costs[i] + sum;
                %><li><%= names[i] %> <input type="text" name="cost" value="<%= costs[i] %>" />
                </li>

                <%  } %><br><br>
           Expenditure <input type="text" name="sum" value="<%= sum %>"/>
        </div>
        </form>
    </body>
</html>